* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: #4682B4;
}

.linkBalance {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #229954;
  text-decoration: none;
  color: #fdfdfd;
  padding: 0.55rem 0;
}